body {
	background-image: url("https://image.freepik.com/foto-gratis/blanco-desenfoque-interior-silla-borrosa_1203-4272.jpg?2");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	width: 100%;
	height: auto;
}

header {
	background-color: #f5f3ef;
	position:absolute;
	left:0;
	top:0;
	padding:0;
	margin:0;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

img {
	border-radius:8px;
}

.menu {
	float: right;
	margin: 38px;
}

a {
	text-decoration: none;
}

.button {
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(255, 254, 254);
  border: white;
  color: none;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  vertical-align:middle;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.contenedor {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	padding: 20px;
}

div .formularioU {
	font-size: 23px;
	margin: 10%;
	width: 52%;
	background: #fff;
	border-radius: 10px;
	padding: 1%;
	align-items: center;
	text-align: center;
  }

table , th, td  {
	text-align:center;
  border: 0px solid rgb(27, 26, 26);
  border-collapse: collapse;
 	font-family: 'Quicksand', sans-serif;
	font-size:20px;
  }

th{
    text-align: center;
  }

 .btn {
	display: inline-block;
	padding: 10px 20px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000000;
	background-color: #F5DEB3;
	border: none;
	border-radius: 20px;
	box-shadow: 0 9px #999;
	margin: 10px;
	font-weight: bold;
}

.btn:hover {
	background-color: #D2B48C;
}

.btn:active {
  background-color: #D2B48C;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*Estilos pagina productos*/

p{
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	margin-left: 50px;
}

.upload-box {
	font-size: 16px;
	background: white;
	border-radius: 50px;
	width: 350px;
	outline: none;
	color: black;
	height: 40px;
	width: 350px;
	position: absolute;
	top:310px;
	right:350px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

::-webkit-file-upload-button {
	color:black;
	background:#EDBB99;
	padding: 10px;
	border: none;
	border-radius: 50px;
	outline: none;
}

::-webkit-file-upload-button:hover {
	background:#F6DDCC;
}

 /*Estilos Reportes*/
 
 .btn-group .listaR {
	background-color: #F7DC6F;
	border: 1px solid #F1C40F;
	border-radius: 5px;
	color: black;
	padding: 15px 32px;
	text-align: center;
	align-items: center;
	margin-left: 25%;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 50%;
	display: block;
	font-weight: bold;
}

.btn-group .listaR:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group .listaR:hover {
  background-color: #F1C40F;
}

/*Estilos listado usuarios*/

h2 {
	font-family: 'Ephesis', cursive;
	font-size: 45px;
	margin:2%;
}
#Usuarios {
	font-family: 'Quicksand', sans-serif;
	border-collapse: collapse;
	width: 95%;
	align-items: center;
	margin:2%;
}

#Usuarios td, #Usuarios th {
  border: 1px solid #ddd;
  padding: 1px;
}

#Usuarios tr:nth-child(even){background-color: #f2f2f2;}

#Usuarios tr:hover {background-color: #ddd;}

#Usuarios th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #6495ED;
  color: white;
}

#Clientes {
	font-family: 'Quicksand', sans-serif;
	border-collapse: collapse;
	width: 95%;
	align-items: center;
	margin:2%;
}

#Clientes td, #Clientes th {
  border: 1px solid #ddd;
  padding: 1px;
}

#Clientes tr:nth-child(even){background-color: #f2f2f2;}

#Clientes tr:hover {background-color: #ddd;}

#Clientes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #6495ED;
  color: white;
}

#VentasCli {
	font-family: 'Quicksand', sans-serif;
	border-collapse: collapse;
	width: 95%;
	align-items: center;
	margin:2%;
}

#VentasCli td, #VentasCli th {
  border: 1px solid #ddd;
  padding: 1px;
}

#VentasCli tr:nth-child(even){background-color: #f2f2f2;}

#VentasCli tr:hover {background-color: #ddd;}

#VentasCli th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#6495ED;
  color: white;
}

#TotalVe {
	text-align: right;
	margin:3%;
}


