body {
	background-image: url("https://image.freepik.com/foto-gratis/blanco-desenfoque-interior-silla-borrosa_1203-4272.jpg?2");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	width: 100%;
  	height: auto;
}
.contenedor {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	padding: 20px;
}
.Nombre {
	font-family: 'Quicksand', sans-serif;
	font-size:40px;
    text-align: center;
}

table , th, td  {
    border: 0px solid rgb(27, 26, 26);
    border-collapse: collapse;
 	font-family: 'Quicksand', sans-serif;
	font-size:20px;
  }
 
th{
    text-align: center;
  }
.table1 {
	font-size: 23px;
    margin: 0 auto;
    padding-top: 15%;
    width: 350px;
	background: #fff;
	border-radius: 10px;
	padding: 20px;
	place-items: center;
	text-align: center;
  }
  
.button {
	display: inline-block;
  	padding: 10px 20px;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #000000;
	background-color: #F5DEB3;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {background-color: #D2B48C}

.button:active {
  background-color: #D2B48C;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

